@import '../../style/vars.scss';

.header {
  text-align: center;
  margin-top: $pad-xl-fixed;

  h1 {
    color: $brand-primary;
    font-size: 3em;
    margin-bottom: $pad-l-fixed;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: $pad-l-fixed;
  }

  .nav-button {
    width: 375px;
    background: $brand-primary-dark;
    color: $white;
    line-height: 15px;
    margin-bottom: $pad-l-fixed * 1.25;    

    &:hover {
      background: $brand-primary-light;
    }

    &:active {
      background: $white;
      color: $brand-primary;
    }

    &.at-live {
      &:hover {
        color: $brand-primary;
        background: $brand-primary-dark;
      }

      &:active {
        background: $white;
        color: $brand-primary;
      }
    }
  }
}
